.model {
    margin: 5px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 5px;
  }

  .model:hover {
    background: var(--primary-hover);
  }

  .model:active {
    background: var(--primary-soft);
  }

  .model-list {
    list-style: none;
    padding: 1rem;
    max-height: 100%;
    position: relative;
    overflow-y: auto;
  }

  .container {

    max-height: 100% !important;
    overflow-y: hidden;
  }


  
  .models {
    margin: 20px;
  }
  
  
  .model h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .selected {
    background: var(--primary);
  }