.header {
  display: flex;
  max-width: max-content;
  gap: 0.5rem;
}

.logo {
  width: 2rem;
  height: auto;
  color: var(--primary);
  transform: rotate(0deg);
  transition-duration: 100ms;
}

.title {
  color: white;
}

.header:hover > .logo {
  transform: rotate(360deg);
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
